html{
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto;
    }

.caja-uno{
    flex-basis: 20%;
    background: linear-gradient(#37E8E8,#0E9393 );
    text-align: center;
}
.caja-dos{
    flex-basis: 80%;
    background-color: #D6EAF8    ;
}

.logo{
    display: flex;
    width: 70%;
    height: 70%;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 8%;
    margin-left: 13%;
}

.boton{
    display: flex;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-top: 50vh;
    margin-left: 60px;
    cursor: pointer;
}

#link_registro{
    color: black;
    text-decoration: none;
}

.texto{
    margin-top: 5%;
    text-align: center;
}
#parrafo-uno{
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.texto-sec{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 10%;
    justify-content: space-around;
}

.icono{
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}